<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Czar Dy  - Quote Calculator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

    <!-- FONT-AWESOME SCRIPT -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- CUSTOM DATE PICKER -->
    <link rel="stylesheet" href="~/css/CustomDatePicker.css" />
    <script type="text/javascript" src="~/js/CustomDatePicker.js"></script>

    <!-- CORE LOGIC -->
    <script type="text/javascript" src="~/js/SetupAJAX.js"></script>
    <script type="text/javascript" src="~/js/Alerts.js"></script>
    <script type="text/javascript" src="~/js/UserInquiry.js"></script>
    <script type="text/javascript" src="~/js/QuoteCalculatorLogic.js"></script>

    <!-- HOMEPAGE -->
    <script type="text/javascript" src="~/js/DefaultUserInquiryRequestBody.js"></script>
    <script type="text/javascript" src="~/js/Homepage.js"></script>

    <!-- CUSTOM RANGE SLIDER -->
    <link rel="stylesheet" href="~/css/CustomRangeSlider.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QuoteCalculator</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="AlertsDiv">
        <div class="alert alert-primary mx-5" role="alert" style="width: 95%; position: fixed; bottom: 20px;" id="alert_primary"></div>
        <div class="alert alert-danger mx-5" role="alert" style="width: 95%; position: fixed; bottom: 20px;" id="alert_danger"></div>
        <div class="alert alert-success mx-5" role="alert" style="width: 95%; position: fixed; bottom: 20px;" id="alert_success"></div>
        <div class="alert alert-warning mx-5" role="alert" style="width: 95%; position: fixed; bottom: 20px;" id="alert_warning"></div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - QuoteCalculator - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
